@import "main.css";

.main {
  background-color: var(--back-color);
}

.first_section {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  gap: 249px;
  /* flex-wrap: wrap; */
}

.heros h1 {
  padding-top: 64px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  color: #000000;
}

.one_section h1 {
  text-align: left;
  font-family: 'Montserrat';
  max-width: 557px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
}

.one_section p {
  margin-top: 24px;
  max-width: 557px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.25px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
}

.section2 {
  background-color: var(--back-color);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  color: #000000;
  padding-top: 64px;
  margin-bottom: 24px;
}

.two_section {

  background-color: #fff;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 227px;
  /* margin-top: 10px; */
  justify-content: space-evenly;
  /* align-items: center; */
  align-content: center;
}

.imge1 {
  margin-left: 50px;
}

.imge1+p {
  margin-top: 48px;
}

.imge2 {
  margin-left: 60px;
}

.imge2+p {
  margin-top: 45px;
}

.imge3 {
  margin-left: 90px;
}

.imge3+p {
  margin-top: 50px;
}

.star {
  margin-top: -50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  color: #000000;
}

.truck {
  margin-top: -50px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  color: #000000;
}

.like {
  margin-top: -50px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  color: #000000;

}

.phone_section {
  margin-top: 240px;
  background-color: var(--section-color);
  height: 400px;
}

.four_section {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}

.iphone img {
  margin-top: -160px;
}

.txt {
  margin-top: 40px;
}

.txt h1 {
  font-family: 'Montserrat';
  max-width: 753px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.25px;
  color: #FFFFFF;
}

.txt p {
  margin-top: 24px;
  margin-bottom: 40px;
  max-width: 738px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  color: #FFFFFF;
}
.last{
  margin-top: 152px;
  padding-bottom: 60px;
}
.ltxt{
  margin-top: 152px;
}
.cad{
  flex-wrap: wrap;
  display: flex;
  gap: 128px;
}
.all_txt{
  margin-top: 65px;
  display: flex;
  gap: 128px;
}
.ltxt h1 {
  max-width: 460px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 64px;
  color: #000000;
}

.ltxt1 p:nth-child(1) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.ltxt1 p:nth-child(2) {
  margin-top: 8px;
  width: 166px;
  height: 96px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.ltxt1 p:nth-child(3) {
  margin-top: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.ltxt1 p:nth-child(4) {
  margin-top: 8px;
  width: 166px;
  height: 96px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;

}

.ltxt2 p:nth-child(1) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.ltxt2 p:nth-child(2) {
  margin-top: 8px;
  width: 166px;
  height: 96px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.ltxt2 p:nth-child(3) {
  margin-top: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}

.ltxt2 p:nth-child(4) {
  margin-top: 8px;
  width: 166px;
  height: 96px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
}


@media screen and (max-width: 600px) {
  .container{
    max-width: 500px;
  }
  .first_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .room img {
    width: 389px;
  }

  .two_section {
    margin-top: 230px;
    display: flex;
    flex-direction: row;
  }

  .phone_section {
    margin-top: 525px;
  }

  .txt {
    margin-top: -30px;
    width: 600px;
    background-color: var(--section-color);
  }

  .apps {
    display: flex;
    flex-direction: column;
  }
  .last img{
    display: flex;
    margin-top: 70px;
    width: 400px;
  }
  .all_txt{
    display: flex;
    gap: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1150px;
  }

  .txt {
    background-color: var(--section-color);
  }

  .txt {
    margin-top: -30px;
    width: 1150px;
    background-color: var(--section-color);
  }

  .apps {
    display: flex;
    flex-direction: column;
  }
  .last{
    display: flex;
    margin-top: 460px;
  }
}