@import "main.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}

.hero {
    background: #E5E5E5;
}

.hoodie-text {
    display: inline-block;
    margin-left: 300px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #040921;
}

.hoodie-image {
    position: absolute;
}

.image-X {
    width: 10px;
    margin-left: 500px;
}

.lorem-mens {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    margin-left: 300px;
    margin-top: 50px;
}

.inb {

    display: inline-block;
}

.money {
    margin-left: 300px;
    margin-top: 60px;
}

.size-txt {
    margin-left: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.size-number {
    margin-left: 10px;
}

.mens-calc {
    position: absolute;
    margin-left: 500px;
    margin-top: 50px;
}

.box-first {
    flex-direction: column;
    padding-top: 100px;
}

.box-two {
    margin-top: 60px;
}

.total-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.total-price-number {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.box-second {
    padding-bottom: 40px;
}



.book{
    margin-bottom: 150px;
}


.book h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000000;
}

.fbros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 32px;
    background-color: #fff;
    flex-direction: row;
    border-radius: 12px;
}


.tops h2 {
    margin-top: 25px;
    margin-left: 32px;
    max-width: 512px;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #040921;

}

.tops img {
    margin-left: 30px;
    margin-top: 71px;

}

.tops p {
    /* margin-top: 71px; */
    margin-left: 30px;
    width: 754px;
    height: 66px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #000000;
}

.costss {
    display: flex;
    margin-right: 10px;
    margin-left: 300px;
    margin-top: -50px;
}

.page2 {
    margin-left: 40px;
}

.next_page {
    margin-left: 700px;
}

.inb{
    margin-top: 100px;
}





.submit-delivery {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #0D0D0D;
    padding: 18px 100px;
    /* padding-bottom: 50px; */
    background-color: #FFC000;
    margin-left: 37%;    text-align: center;
}

.Similar-products-sec {
    padding-bottom: 64px;
    background: #E5E5E5;
}

.addtobasket-div {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;
}


.Similar-products-txt {
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
}

.p-lorem {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.75px;
    width: 245px;
    text-transform: uppercase;
}

.blue-mens {
    width: 279px;
    height: 300px;
}

.p2-lorem {
    width: 240px;

}

.box-addtobasket {
    display: inline-block;
    border-radius: 12px;
    text-align: center;
    background-color: white;
}

.stars-mens {
    vertical-align: middle;
}

.yevro {
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    vertical-align: middle;
    line-height: 140%;
    margin-left: 120px;
}

.basket-button {
    padding: 10px 80px;
    font-weight: 600;
    display: inline-block;
    border-radius: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    background-color: #FFC000;
    line-height: 140%;
}

@media (max-width:1195px) {
    .mens-calc {
        margin-left: 200px;
    }

    .blue-mens {
        width: 279px;
    }

    .addtobasket-div {
        flex-wrap: wrap;
    }

    .image-X {
        margin-left: 0;
    }

    .submit-delivery {
        margin-left: 50px;
    }
}

@media screen and (max-width:900px) {
    .mens-calc {
        margin-left: 30px;
    }
}

@media screen and (max-width:710px) {
    .lorem-mens {
        display: none;
    }

    .money {
        margin-left: 0px;
        margin-top: 0;
        margin-bottom: 50px;
        vertical-align: middle;
    }

    .hoodie-image {
        position: relative;
        width: 100px;
    }

    .hoodie-text {
        position: absolute;
        margin-left: 0;
    }

    .size-txt {
        margin-left: 10px;
        margin-bottom: 50px;
        vertical-align: middle;
    }

    .size-number {
        margin-bottom: 50px;
        vertical-align: middle;
    }

    .mens-calc {
        margin-left: 0px;
    }

    .image-X {
        /* margin-left: 0; */
        margin-left: 450px;
        position: absolute;
        margin-top: 10px;
    }
    .addtobasket-div {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width:600px)  {
    .image-X {
        display: none;
    }
    .size-txt {
        margin-left: 10px;
        margin-bottom: 30px;
        vertical-align: middle;
    }
    .size-number {
        margin-bottom: 30px;
        vertical-align: middle;
    }
    .money {
        margin-left: 0px;
        margin-top: 0;
        margin-bottom: 30px;
        vertical-align: middle;
    }
    .mens-calc {
        margin-top: 70px;
    }
    .images-calc {
        width: 100px;

    }
    .all__money {
        text-align: center;
    }
}
@media screen and (max-width:376px) {
    .mens-calc {
display: none;
    }
}