@import "main.css";

* {
    font-family: 'Montserrat';
}

.katigori {
    display: flex;
    flex-wrap: wrap;
}
.product {
    width: 264px;
    margin: 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
}

.product img {
    transition: all 0.1s;
}
.product:hover img {
    transform: scale(1.05);

}
.product p {
    margin-top: 20px;
    font-size: 25px;
}
.container h2 {
    font-size: 40px;
    margin: 100px 0 40px;
    text-align: center;
}
@media only screen and (max-width: 700px) {
    .product {
        width: 150px;
        margin: 5px;
        text-align: center;
        font-size: 20px;
    }
    .product img {
        width: 150px;
    }
}