/* header and footer */

/* .card  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-header: #0D0D0D;
  --main-color: #ffc000;
  --back-color: #FAFAFA;
  --section-color: #0C0A27;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 5;
}

.main_header {
  background-color: var(--main-header);
  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
}

.ru a{
  text-decoration: none;
  padding-top: 13px;
  color: #fff;
}

.uz a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

.navs {
  background-color: #fff;
  box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
}


.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 90px;
  justify-content: space-evenly;
}

.logo_container {
  display: flex;
  align-items: center;
}



.toggle {
  padding: 20px 25px;
  display: none;
  background-color: transparent;
  border: none;
  background-image: url("../images/bars-solid.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.logo {
  text-decoration: none;
  flex-shrink: 0;

}

.logo_img {
  display: block;
}

.sitenav {
  width: 80%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;

}

.sitenav_list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav_btns {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
}

.sign {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 4px 8px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  color: #0D0D0D;
}

.sign-up {
  border-radius: 4px;
  background-color: #FFC000;
}





.sitenav_link {

  display: inline-block;
  padding: 16px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.1px;
  color: #000000;
}

.shop_btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  background-image: url("../images/ic_cart.png");
  cursor: pointer;
}


/*Footer*/

footer {
  padding-top: 46px;
  background-color: #fff;
  max-height: 323px;
}


/*mobile*/

.mobile {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
}

.mobile p:nth-child(1) {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
  max-width: 303px;
  height: 72px;
}

.mobile p:nth-child(2) {
  margin-left: 180px;

}

.mobile p:nth-child(3) {
  margin-left: 180px;

}

.mobile p:nth-child(4) {
  margin-left: 180px;

}

.mobile p:nth-child(5) {
  margin-top: -100px;
}




.footers {
  background-color: #fff;
  display: flex;
  gap: 29px;
  justify-content: center;
}

.mobile {
  margin-top: 46px;
  background-color: #fff;
}
.one{
  margin-left: -180px;
}
.pro {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
}


.end {
  background-color: #fff;
}

.lorem {
  margin-top: 16px;
  width: 265px;
  height: 88px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
}

.flogo {
  margin-top: 15px;
}

.two {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.two p:nth-child(1) {
  font-weight: 600;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000000;
}

.two p:nth-child(2) {
  margin-top: 16px;
  letter-spacing: 0.25px;
  color: #000000;
}

.two p:nth-child(3) {
  margin-top: 10px;
  letter-spacing: 0.25px;
  color: #000000;
}

.two p:nth-child(4) {
  margin-top: 38px;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000000;
}

.two p:nth-child(5) {
  margin-top: 16px;
  text-transform: uppercase;
  color: #000000;
}

.two p:nth-child(6) {
  margin-top: 10px;
  width: 130px;
  text-transform: uppercase;
  color: #000000;
}

.all {
  display: flex;
  gap: 203px;
  margin-left: 222px;
}

.third {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
}

.third p:nth-child(1) {
  font-weight: 600;
  letter-spacing: 0.75px;

}

.third p:nth-child(2) {
  margin-top: 16px;
}

.third p:nth-child(3) {
  margin-top: 10px;
}

.third p:nth-child(4) {
  margin-top: 10px;

}

.third p:nth-child(5) {
  margin-top: 10px;
}

.four {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
}

.four p:nth-child(1) {
  letter-spacing: 0.75px;
  line-height: 140%;
  font-weight: 600;

}

.four p:nth-child(2) {
  margin-top: 16px;
}

.four p:nth-child(3) {
  margin-top: 10px;
}

.four p:nth-child(4) {
  margin-top: 10px;

}

.four p:nth-child(5) {
  margin-top: 10px;

}

.four p:nth-child(6) {
  margin-top: 10px;

}

.four p:nth-child(7) {
  margin-top: 10px;

}

.end1 {
  margin-top: 32px;
  display: flex;
  gap: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.end2 {
  margin-top: 17px;
  gap: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  display: flex;
  align-items: center;
}

/* first-desktop */


@media only screen and (max-width: 700px) {
  .header {
    padding: 18px 0;
    position: relative;
  }

  .toggle {
    display: inline-block;
  }

  .sitenav {
    display: none;
  }

  .header--open .toggle {
    background-image: url("../images/times-solid.svg");
  }

  .header--open .logo {
    display: none;
  }

  .header--open .toggle {
    margin-left: 200px;
  }

  .header--open .sitenav .sitenav_btns {
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;

  }

  .header--open .sitenav .sitenav_btns li {
    min-width: 100%;
  }

  .header--open .sitenav .sitenav_btns li a {
    padding: 13px 5;
    min-width: 100%;
  }

  .header--open .sitenav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 36px;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
  }

  .header--open .sitenav .sitenav_list li a {
    display: flex;
    justify-content: start;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: #000000;
  }





  .header--open .sitenav .site {
    font-size: 24px;
  }



  .header--open .logomobile img {
    display: none;
  }

  .header--open .shop_btn {
    display: none;
  }
}


@media screen and (max-width: 600px) {
  .container {
    max-width: 550px;
  }

  .nav_link {
    display: none;
  }

  .second_link {
    margin-left: 10px;
    gap: 10px;
  }

  .logomobile img {
    display: block;
    text-align: left;
  }

  .logo {
    margin-left: 1px;
  }

  .one,
  .two,
  .all,
  .third,
  .four {
    display: none;
  }

  .fa-bars {
    display: block;
  }

  .logo {
    display: none;
  }

  .once {
    display: none;

  }

  .twice {
    display: none;
  }

  .cart {
    margin-left: 160px;
  }


  /*test*/

  .navs {
    box-shadow: none;
  }

  .mobile {
    margin-left: 28px;
  }

  .line {
    display: block;
  }

}

@media screen and (min-width: 600px) {
  .line {
    display: none;
  }

  .mobile {
    display: none;
  }

  .end {
    display: none;
  }

  .fa-bars {
    display: none;
  }

  .logomobile {
    display: none;
  }
}



@media screen and (max-width: 1000px) {
  .container {
    max-width: 950px;
  }
}