@import "main.css";

.hero {
  background-color: var(--back-color);
}

.first_section {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  gap: 249px;
  /* flex-wrap: wrap; */
}

.heros h1 {
  padding-top: 64px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  color: #000000;
}

.one_section h1 {
  text-align: left;
  font-family: 'Montserrat';
  max-width: 557px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
}

.one_section p {
  margin-top: 24px;
  max-width: 557px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.25px;
  font-feature-settings: 'pnum'on, 'lnum'on;
  color: #000000;
}






/* .room{
  order: ;
} */
@media screen and (max-width: 600px) {
  .first_section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .room img {
    order: 3;
  }
}